.delete-btn{
    margin-right: 20px;
    margin-top: 15px;
    color: brown;
}

.delete-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #0c0c0b;
    text-shadow: 0 0 5px #11110f;
}
.cancle-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #0c0c0b;
    text-shadow: 0 0 5px #11110f;
}
